#img-swiper {
    height: 600px;
    width: 100vw;
}

.search-container {
    position: relative;
    max-width: 400px;
    width: 100%;
}

#input-search {
    width: 100%;
    padding-right: 45px; /* Espacio para o botão */
}

#btn-search {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    background: none;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-search .fas {
    color: #6c757d;
}